body {
	font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
	background: linear-gradient(to right, rgb(255, 138, 144), rgb(133, 255, 202));
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    letter-spacing: 1vw;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    text-transform: none;
    letter-spacing: 0.05em;
}
